* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*Todas las imagenes ouparan el 100 de su padre*/
img{
    display: inline-block;
    width: 100%;
    /* height: 100%; */
} 

footer{
    min-width:310px;
    position: relative;
    bottom: -100px;
}

h1,h2{
    margin:20px 20px;
    text-align: center;
}

.flexContainer {
    flex-direction: column;
    display: flex;
}
h1>a{
    text-decoration: none;
    color:white
}

header>nav{
    justify-content: center;
}

.inputBuscar{
    width: 60%;
    font-size: 1.5rem;
}

.btnBuscar{
    width: 30%;
    margin-left: 10px;
    font-size: 1.5rem;
}


.container{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    min-width: 300px;
    position: relative;
    top: 100px;
}

.fullContainer{
    min-width: 400px;
    position: fixed;
    top: 0;
    z-index: 100;
}

#resultados, #filtro{
    margin: 20px 0;
}

#currentPage{
    /* background-color: gray; */
    color:white;
}

.goToPage{
    margin:5px;
    padding:5px;
}

#filtro{
    padding: 10px 0;
    color:black;
    width: 30%;
    text-align: center;
}

.btnFav, .btnQFav, .categoria{
    font-size: 0.8rem;
    padding: 5px 10px;
    margin: 1rem;
}

#resultados > article>div{
    height: 70%;
    margin-bottom: 7rem;
}

#cajaResultados{
    text-align: center;
}

.tituloFoto {
    font-size: 1.2rem;
    /* padding: 0.2rem; */
}

p1{
    padding: auto;
}
#pintarFavoritos,#inicio{
    text-decoration: none;
    color:white;
}

#currentPage, #nextPage, #previousPage{
    margin:30px 10px;
    padding: 10px 20px;
}

#paginacion{
    font-size: 1rem;
    color:black;
    text-align: center;
}

header>nav>ul{
    
    list-style-type:none;
    align-items: center;
    /* background-color: red; */
    width: 70%;
    justify-content: space-between;
}

/*NAV hijo directo de header y UL hijo directo de NAV y nav a su vez de header*/
header>nav, header>nav>ul{
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
}


header>nav>ul>form:first-child{
    
    /* background-color: aqua;  */
    width: 70%;
}

header>nav>ul>form:nth-child(2){
    /* background-color: aqua; */
    width: 30%;
}

header>nav>ul>form>a{
    text-decoration: none;
    color:white
}


.flexContainer>*{
    text-align: center;
    color: rgb(0, 0, 0);

}

.flexContainer>article{
    /* background-color: darkgrey; */
    padding: 10px;
    align-items: center;
}

#selectorOrientacion {
    width: 70%;
    /* font-size: 2rem; */
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 10px 0;
    
}

/*Para todo div que se encuentre dentro de article, (article) que se encuentre dentro una etiqueta con clase flexContainer */
.flexContainer article div{
    width: 100%;
    /* height: 80%; */
    
}

/*Para todo p dentro de una etiqueta con clase .fullContainer. Misma propiedas para la etiqueta footer*/
.fullContainer p, footer, header > nav{
    font-size: 1rem;
    text-align: center;
    padding: 0.2rem;
    color:white;
    min-width:252px;
    
}

.fullContainer, footer,header> nav {
    width: 100%;
    background-color: darkslategray;
}




/* ===============================
            768px
=================================== */

@media screen and (min-width:768px) {
    
    .flexContainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flexContainer>* {
        width: 50%;
        /* width: calc(50% - 5px); */
    }

    .inputBuscar{
        max-width: 300px;
        margin-left: 10px;
    }
    
    .btnBuscar{
        max-width: 80px;
    }
    
    header>nav>ul{
        max-width: 1250px;
    }
    
}

/* 768px */

/* ===============================
            992px
=================================== */

@media screen and (min-width:992px) {

    .flexContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flexContainer article div{
        width: 100%;
    }
}

/* 992px */

/* ===============================
            1200px
=================================== */

@media screen and (min-width:1200px) {
    .container {
        max-width: 1300px;
    }

    .flexContainer>* {
        
        width: 33.3%;
        /* width: calc(33.3% - 5px); */
    }
}

/* 1200px */